/* This file is for dash3.html */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

/* -----Reset----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* -----Common----- */
body{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    /* overflow: hidden; */
}

a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    transition: all 0.3s ease-in;
}

li{
    list-style: none;
    cursor: pointer;
}

/* -----Header----- */
header{
    position: relative;
    z-index: 13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #fff;
}

/* Logo */
header .logo a{
    font-family: 'Niconne';
    font-size: 3rem;
    color: #2ECC71;
}

/* Nav Menu */
header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu li:not(:first-child){
    margin-left: 40px;
}

header .menu li .ab-btn,
header .menu li .con-btn{
    padding: 7px 30px;
    border: 3px #2ECC71 solid;
    border-radius: 30px;
    color: #2ECC71;
}

header .menu li .ab-btn:hover,
header .menu li .con-btn:hover{
    background-color: #2ECC71;
    color: #fff;
}

header .menu li .sisu-btn{
    padding: 7px 30px;
    border: 3px #2ECC71 solid;
    border-radius: 30px;
    background-color: #2ECC71;
    color: #fff;
}

header .menu li .cart-btn{
    background-color: #2ECC71;
    border: 3px #2ECC71 solid;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
}

header .menu li .cart-btn i{
    font-size: 1.2rem;
    margin-right: 10px;
}

header .menu li .sisu-btn:hover,
header .menu li .cart-btn:hover{
    background-color: #fff;
    color: #2ECC71;
}

/* -----Back Shape----- */
.backsh{
    position: fixed;
    bottom: -50px;
    width: 100%;
    max-width: 1400px;
    z-index: 1;
}

.backsh img{
    width: 100%;
}

/* -----Container----- */
.container{
    background-color: #fff;
    position: relative;
    z-index: 11;
    width: 95%;
    margin: 0 auto;
    border: 3px #2ECC71 solid;
    border-radius: 43px;
    min-height: 83vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
}

/* Search */
.container .search{
    position: relative;
    width: 100%;
    text-align: right;
    padding: 0px 20px;
}

.container .search .sch{
    width: 100%;
    max-width: 400px;
    height: 45px;
    border: 2px #2ECC71 solid;
    outline: none;
    border-radius: 29px;
    padding: 0px 20px;
    font-size: 1rem;
}

.container .search .sch::placeholder{
    font-size: 1rem;
    color: #2ECC71;
    opacity: 1;
}

.container .search select{
    position: absolute;
    top: 0;
    right: 20px;
    width: 100px;
    height: 45px;
    padding-left: 10px;
    border: 2px #2ECC71 solid;
    outline: none;
    border-radius: 29px;
    font-size: 1rem;
}

/* Admin Panel */
.container .admin-sec{
    width: 100%;
    max-height: 78vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

/* Side Menu */
.container .admin-sec .smenu{
    background-color: #fff;
    border: 2px #2ECC71 solid;
    border-radius: 30px;
    padding: 25px;
    flex-basis: 15%;
    margin-right: 10px;
    min-width: 250px;
    /* min-height: 450px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container .admin-sec .smenu{
    padding: 20px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container .admin-sec .smenu a{
    width: 100%;
    color: #2ECC71;
    display: block;
    padding: 15px;
    border-top: 2px #2ECC71 solid;
}

.container .admin-sec .smenu a:hover{
    background-color: #2ECC71;
    color: #fff;
}

.container .admin-sec .smenu a i{
    color: #2ECC71;
    font-size: 1.2rem;
    margin-right: 10px;
}

.container .admin-sec .smenu a:hover > i{
    color: #fff;
}

.container .admin-sec .smenu .man{
    background-color: #2ECC71;
    color: #fff;
}

.container .admin-sec .smenu .man:hover{
    background-color: #fff;
    color: #2ECC71;
}

.container .admin-sec .smenu .man i{
    color: #fff;
}

.container .admin-sec .smenu .man:hover > i{
    color: #2ECC71;
}

.container .admin-sec .smenu a:last-child{
    border-bottom: 2px #2ECC71 solid;
}

/* Dashboard Body */
.container .admin-sec .dash-body{
    position: relative;
    border: 2px #2ECC71 solid;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    flex-basis: 85%;
    max-height: 650px;
    padding: 20px;
}

/* Add Product */
.container .admin-sec .dash-body .product-adding{
    width: 100%;
    padding: 20px;
}

.container .admin-sec .dash-body form{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container .admin-sec .dash-body form .first,
.container .admin-sec .dash-body form .second{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container .admin-sec .dash-body form .first input,
.container .admin-sec .dash-body form .second textarea{
    width: 100%;
    max-width: 430px;
    height: 45px;
    border: 2px #2ECC71 solid;
    border-radius: 30px;
    padding: 0 20px;
    font-size: 1rem;
    color: #000;
    outline: none;
}

.container .admin-sec .dash-body form .first input:not(:last-child),
.container .admin-sec .dash-body form .second textarea{
    margin-bottom: 10px;
}

.container .admin-sec .dash-body form .first input::placeholder,
.container .admin-sec .dash-body form .second textarea::placeholder{
    color: #000;
    opacity: 1;
}

.container .admin-sec .dash-body form .second textarea{
    height: 100px;
    padding-top: 10px;
}

.container .admin-sec .dash-body form .second .up{
    width: 100%;
    max-width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.container .admin-sec .dash-body form .second .up input{
    display: none;
}

.container .admin-sec .dash-body form .second .up label{
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    border: 2px #2ECC71 solid;
    border-radius: 30px;
    text-align: center;
}

.container .admin-sec .dash-body form .second .add-btn,
.container .admin-sec .dash-body form .second .cancel-btn{
    width: 100%;
    max-width: 430px;
    padding: 15px;
    border: 2px #2ECC71 solid;
    border-radius: 30px;
    background-color: #2ECC71;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease-in;
}

.container .admin-sec .dash-body form .second .add-btn:hover{
    background-color: #fff;
    color: #2ECC71;
}

.container .admin-sec .dash-body form .second .cancel-btn{
    margin-top: 10px;
    background-color: #E74C3C;
    border-color: #E74C3C;
}

.container .admin-sec .dash-body form .second .cancel-btn:hover{
    background-color: #fff;
    color: #E74C3C;
}

/* -----Social Icons----- */
.social{
    background-color: #fff;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 12;
    padding: 15px 6px;
    border: 3px #2ECC71 solid;
    border-radius: 35px;
}
.social a{
    display: block;
}

.social a img{
    max-width: 40px;
}

.social a:hover{
    transform: scale(1.1);
}

/* -----Footer----- */
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

footer .company{
    color: #fff;
    font-size: 1rem;
}

footer .credit{
    color: #2ECC71;
    font-size: 1rem;
}

@media(max-height: 900px){
    .container{
        margin-top: 50px;
    }

    footer{
        position: relative;
    }
}