/* This file is for index.html */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

/* -----Reset----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* -----Common----- */
body{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    /* overflow: hidden; */
}

a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    transition: all 0.3s ease-in;
}

li{
    list-style: none;
    cursor: pointer;
}

/* -----Header----- */
header{
    position: relative;
    z-index: 13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #fff;
}

/* Logo */
header .logo a{
    font-family: 'Niconne';
    font-size: 3rem;
    color: #2ECC71;
}

/* Nav Menu */
header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu li:not(:first-child){
    margin-left: 40px;
}

header .menu li .ab-btn,
header .menu li .con-btn{
    padding: 7px 30px;
    border: 3px #2ECC71 solid;
    border-radius: 30px;
    color: #2ECC71;
}

header .menu li .ab-btn:hover,
header .menu li .con-btn:hover{
    background-color: #2ECC71;
    color: #fff;
}

header .menu li .sisu-btn{
    padding: 7px 30px;
    border: 3px #2ECC71 solid;
    border-radius: 30px;
    background-color: #2ECC71;
    color: #fff;
}

header .menu li .cart-btn{
    background-color: #2ECC71;
    border: 3px #2ECC71 solid;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}

header .menu li .sisu-btn:hover,
header .menu li .cart-btn:hover{
    background-color: #fff;
    color: #2ECC71;
}

/* -----Back Shape----- */
.backsh{
    position: fixed;
    bottom: -50px;
    width: 100%;
    max-width: 1400px;
    z-index: 1;
}

.backsh img{
    width: 100%;
}

/* -----Container----- */
.container{
    background-color: #fff;
    position: relative;
    z-index: 11;
    width: 95%;
    margin: 0 auto;
    border: 3px #2ECC71 solid;
    border-radius: 43px;
    min-height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.container .prod-des{
    width: 100%;
    max-height: 78vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow-y: auto;
}

/* Product Image */
.container .prod-des .images{
    width: 100%;
    max-width: 500px;
    margin-right: 15px;
}

.container .prod-des .images .main{
    width: 500px;
    height: 500px;
    border-radius: 35px;
    border: 2px #2ECC71 solid;
    margin-bottom: 15px;
    overflow: hidden;
}

.container .prod-des .images .main img{
    width: 100%;
    height: 100%;
}

.container .prod-des .images .sub{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .prod-des .images .sub a{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    border: 2px #2ECC71 solid;
    overflow: hidden;
}

.container .prod-des .images .sub a img{
    width: 100%;
    height: 100%;
}

/* Product Details */
.container .prod-des .details{
    width: 100%;
    max-width: 400px;
    margin-right: 15px;
}

.container .prod-des .details .info1,
.container .prod-des .details .info2,
.container .prod-des .details .info3{
    background-color: #fff;
    border-radius: 30px;
    border: 2px #2ECC71 solid;
    padding: 20px 30px;
    word-wrap: break-word;
    margin-bottom: 20px;
    max-height: 300px;
}

.container .prod-des .details .info2{
    background-color: #2ECC71;
}

.container .prod-des .details .info1 h2{
    font-size: 2rem;
    color: #2ECC71;
    margin-bottom: 10px;
}

.container .prod-des .details .info1 p,
.container .prod-des .details .info3 .kg-price{
    font-size: 1.2rem;
    color: #2ECC71;
    margin-bottom: 10px;
}

.container .prod-des .details .info1 .trans,
.container .prod-des .details .info1 .qty{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .prod-des .details .info1 .trans label,
.container .prod-des .details .info3 .qty label{
    font-size: 1.2em;
    color: #2ECC71;
    margin-right: 10px;
}

.container .prod-des .details .info1 .trans select,
.container .prod-des .details .info3 .qty input{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 2px #2ECC71 solid;
    outline: none;
}

.container .prod-des .details .info3 .qty input{
    padding: 0px 10px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.container .prod-des .details .info2 p{
    font-size: 1.2em;
    color: #fff;
}

.container .prod-des .details .info2 p:not(:last-child){
    margin-bottom: 10px;
}

.container .prod-des .details .info3 .unit-price{
    font-size: 1.8rem;
    color: #2ECC71;
}

.container .prod-des .details .odr-btn{
    background-color: #2ECC71;
    display: inline-block;
    color: #fff;
    padding: 15px 35px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: 2px #2ECC71 solid;
}

.container .prod-des .details .odr-btn:hover{
    background-color: #fff;
    color: #2ECC71;
}

/* Reviews */
.container .prod-des .other-details{
    width: 100%;
    max-width: 650px;
}

.container .prod-des .other-details .reviews{
    background-color: #fff;
    border-radius: 30px;
    border: 2px #2ECC71 solid;
    padding: 25px 35px;
}

.container .prod-des .other-details .reviews h2{
    font-size: 2rem;
    color: #2ECC71;
    margin-bottom: 10px;
}

.container .prod-des .other-details .reviews .overall{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.container .prod-des .other-details .reviews .overall a i{
    color: #e67e22;
    font-size: 2rem;
}

.container .prod-des .other-details .reviews .overall p{
    font-size: 1.3rem;
    color: #2ECC71;
    margin-left: 20px;
}

.container .prod-des .other-details .reviews .rv-line{
    border-color: #2ECC71;
    margin-bottom: 20px;
}

.container .prod-des .other-details .reviews .farmer-rev h3{
    font-size: 1.7rem;
    color: #2ECC71;
    margin-bottom: 10px;
}

.container .prod-des .other-details .reviews .farmer-rev .all-reviews{
    max-height: 400px;
    padding: 15px;
    border-radius: 30px;
    border: 2px #2ECC71 solid;
    overflow-y: auto;
    overflow-x: hidden;
}

.container .prod-des .other-details .reviews .farmer-rev .all-reviews h4{
    font-size: 1.3rem;
    color: #2ECC71;
    margin-bottom: 10px;
}

.container .prod-des .other-details .reviews .farmer-rev .all-reviews p{
    font-size: 1rem;
    color: #2ECC71;
    margin-bottom: 10px;
}

.container .prod-des .other-details .reviews .farmer-rev .all-reviews .star{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.container .prod-des .other-details .reviews .farmer-rev .all-reviews .star a i{
    color: #e67e22;
    font-size: 1rem;
}

.container .prod-des .other-details .reviews .farmer-rev .all-reviews .star p{
    font-size: 1rem;
    color: #2ECC71;
    margin-left: 20px;
}

.container .prod-des .other-details .fet-products{
    padding: 20px;
    margin-top: 20px;
}

.container .prod-des .other-details .fet-products h2{
    font-size: 2rem;
    color: #2ECC71;
    margin-bottom: 10px;
}

.container .prod-des .other-details .fet-products .prod{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .prod-des .other-details .fet-products .prod a{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    border: 2px #2ECC71 solid;
    overflow: hidden;
}

.container .prod-des .other-details .fet-products .prod a img{
    width: 100%;
    height: 100%;
}

.container .prod-des .other-details .fet-products .prod a p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2ECC71;
    font-size: 1rem;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 2px #2ECC71 solid;
    font-weight: 500;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.container .prod-des .other-details .fet-products .prod a:hover > p{
    opacity: 1;
}

/* -----Social Icons----- */
.social{
    background-color: #fff;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 12;
    padding: 15px 6px;
    border: 3px #2ECC71 solid;
    border-radius: 35px;
}
.social a{
    display: block;
}

.social a img{
    max-width: 40px;
}

.social a:hover{
    transform: scale(1.1);
}

/* -----Footer----- */
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

footer .company{
    color: #fff;
    font-size: 1rem;
}

footer .credit{
    color: #2ECC71;
    font-size: 1rem;
}

@media(max-height: 900px){
    .container{
        margin-top: 50px;
    }

    footer{
        position: relative;
    }
}

@media(max-width: 1700px){
    .container .prod-des{
        flex-wrap: wrap;
    }
}